# Accessing Database Using Python

In [1]:
# Importing sqlite
import sqlite3

In [2]:
# Connecting to sqlite
conn=sqlite3.connect('Instructor.db')
# Cursor to perform sql operations
cursor=conn.cursor()
cursor.execute("PRAGMA busy_timeout = 5000")

Creating a table in database

In [3]:
s='''DROP TABLE IF EXISTS INSTRUCTOR '''
cursor.execute(s)

In [4]:
table='''Create Table if not exists Instructor (ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2));'''
cursor.execute(table)

Insert The data Into table

In [5]:
f='''Insert into Instructor values (1,'Mayank','Chouhan','Indore','IN')'''
cursor.execute(f)

Query the data in table

In [6]:
statement='''Select * From Instructor'''
cursor.execute(statement)
output=cursor.fetchall()
for row in output :
    print(row)

(1, 'Mayank', 'Chouhan', 'Indore', 'IN')

In [7]:
limted_data=cursor.fetchmany(0)
print(limted_data)

[]

In [8]:
query='''Update Instructor set City='Indriapur' where Fname='Mayank' '''
cursor.execute(query)

Now we will use pandas to retrieve data

In [9]:
import pandas as pd

In [ ]:
df=pd.read_sql_query('select * from instructor',conn,index_col=False)
df

   ID   FNAME    LNAME       CITY CCODE
0   1  Mayank  Chouhan  Indriapur    IN

In [11]:
conn.close()

In [1]:
%pwd
%ls

 Volume in drive D is New Volume
 Volume Serial Number is 42D4-B529

 Directory of d:\Data Science\Playing With Data

23-03-2025  13:47    <DIR>          .
16-03-2025  11:21    <DIR>          ..
16-03-2025  10:02    <DIR>          __pycache__
16-03-2025  17:41               968 api.py
15-03-2025  12:26               312 automation.py
16-03-2025  12:33             2,428 beautiful_soup.py
06-03-2025  01:31               478 clean_data.py
15-03-2025  11:45             2,017 data.csv
23-03-2025  14:04             6,139 db_api.ipynb
16-03-2025  09:14               613 extracting.py
16-03-2025  09:07               683 feq.py
15-03-2025  22:55                45 feq.txt
16-03-2025  11:57               375 Fruityvice,py
23-03-2025  13:47             8,192 Instructor.db
16-03-2025  10:23             2,233 numpys.py
15-03-2025  11:00               499 oops.py
23-03-2025  13:19             2,601 panda.py
16-03-2025  11:48               554 RandomUsers.py
06-03-2025  01:06               317 recipes.csv
13-03-2025  22:24             1,695 Regx.py
15-03-2025  22:41             2,003 rwa.py
15-03-2025  22:14               640 text.txt
15-03-2025  12:33             1,178 textAnalysis.py
              20 File(s)         33,970 bytes
               3 Dir(s)  102,823,149,568 bytes free